* {
    box-sizing: border-box;
    font-family: Arial;
}

/*HEADER*/
.topBar {
    height: 50px;
    width: auto;
    background-color: darkslategray;
    padding-left: 10px;
    display: flex;
    border: 3px dashed blue;

}

.link {
    font-size: 18px;
    margin-top: -6px;
}

.setting {
    display:flex;
    margin-left: auto;
    background-color: grey;
    font-size: 18px;
    align-items: center;
    max-width: 3%;
    max-height: 100%;
}

.setting button img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.setting button.clicked {
    background-color: green;
    color: white;
}

.settings-menu {
    position: absolute;
    opacity: 1;
    left: 15%;
    top: 15%;
    height: 70%;
    width: 70%;
    background-color: white;
    border:5px dotted blue;
    transition: opacity 0.15s;
    z-index: 90;
    padding-left: 10px;
    padding-top: 5px;
}

.hidden {
    opacity: 0;
    z-index: 0;
}

.link a {
    color: rgb(101, 188, 14);
}

.link p {
    color: greenyellow;
    border-color: black;
    border-width: 1px;
}

.link a:hover {
    color: greenyellow;
}

/*BODY*/
body {
    background-color: darkgrey;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainGame {
    display: flex;
    border: 4px solid blue;
    flex: 1;
}

/*CLICKER*/

h1 {
    color: white;
}

.clicker {
    width: 55%;
    border: 4px solid white;
    padding: 20px;
    text-align: center;
    display: flex;
}

.clicker img {
    max-width: 35%;
    cursor: pointer;
    z-index: 9;
}

.clicking-square {
    padding: 30px;
    background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_205177.gif);
    border-radius: 30px;
    z-index: 7;
}

/*UPGRADES*/

.upgrades {
    border: 4px solid white;
    text-align: center;
    height: 100%;
    width: 10%;
    flex: 2;
}

.upgrade-button {
    display: flex;
    position: relative;
    border: 3px solid black;
    cursor: pointer;
    font-size: 18px;
    height: 10%;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#upgrade-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    height: 50%;
    width: 70%;
    align-items: center;
    border: 3px dotted white;

}

.upgrade-count {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    width: 20%;
    align-items: center;
    justify-content: right;
    border: 3px dotted red;

}

.upgrade-price {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 15px;
    height: 65%;
    width: 100%;
    text-align: right;
    overflow: hidden;
    padding-right: 20px;
    border: 3px dotted blue;
}

#upgrade1price {
    width: 20%;
    display: inline-block;
}


/*UPGRADE TREE*/
.upgrade_tree {
    display: flex;
    align-items: 20%;
    justify-content: center;
    border: 3px solid salmon;
    background-color:darkcyan;
    flex: 2;
    height: 100%;
}

.upgrade_item {
    width: 30%;
    font-size: 30px;
    text-align: center;
    align-items: center;
    border: 4px dotted pink;
    height: 20%;

}


/*MANAGERS*/

.managers {
    border: 5px, solid, violet;
    text-align: center;
    height: 100%;
    width: 35%;
    flex: 2.5; 
}

.manage-button {
    display: flex;
    border: 3px solid black;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    width: 100%;
    height: 15%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#manager_title {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    height: 60%;
    width: 70%;
    align-items: center;
    justify-content: center;
    border: 3px dotted white;
}

.manage-count {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 30%;
    align-items: center;
    justify-content: right;
    border: 3px dotted red;
}

.manage-price {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    width: 100%;
    height: 35%;
    text-align: right;
    overflow: hidden;
    padding-right: 10px;
    border: 5px dotted red;
}

/*HOVERING BOXES*/
.upgrade-hover-textbox {
    color: white;
    display:flex;
    flex-direction: column;
    font-style: italic;
    background-color: grey;
    border: 3px solid lime;
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s;
    padding: 5px;
    width: 300px;
    right: 106%;
    top: -1px;
    border-radius: 5px;
    z-index: 8;
}

.upgrade-hover-textbox :first-child {
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    padding: 0;
    line-height: 1.2;
}

.upgrade-hover-textbox p {
    font-size: 12px;
}

.upgrade-button:hover .upgrade-hover-textbox {
    opacity: 1;
}

/*FOOTER*/

footer {
    height: 7%;
    font-size: 20px;
    display: flex;
}

#export {
    height: 100%;
    width: auto;
}

#import {
    height: 100%;
    width: auto;
}

/*ABOUT*/

.head {
    position: absolute;
    width: 300px;
    border: 5px solid lavender;
    right: 200px;
}