/*HEADER*/
.topBar {
    height: 40px;
    width: auto;
    background-color:darkslategray;
    padding-left: 10px;
    display: flex;

}

.link {
    display: inline-block; 
    font-size: 18px;
    margin-top: -6px;
}

.setting {
    display: inline-block;
    font-size: 18px;
}

.link a {
    color:rgb(101, 188, 14);
}

.link p {
    color: greenyellow;
    border-color:black;
    border-width: 1px;
}

.link a:hover{
    color: greenyellow;
}

.head {
    position: absolute;
    width: 300px;
    border: 5px solid lavender;
    right: 200px;
}

/*BODY*/
body {
    background-color: darkgrey;
}

.mainGame {
    display: flex;
    width: auto;
    height: 50%;
    border: 4px solid blue;
}

/*CLICKER*/

h1 {
    color: white;
}
.clicker {
    width: 110%;
    border: 4px, solid, white;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/86/00/18/1000_F_286001899_BzwjxnzuSEBpFmqqyWGy35IMBUl1eKXf.jpg);

}

.clicker img {
    max-width: 35%;
    cursor: pointer;
}

/*UPGRADES/MANAGERS*/

.upgrades {
    border: 4px, solid, white;
    text-align: center;
    height: 100%;
    width: 10%;
}

.upgrade-button {
    border: 3px solid black;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.managers {
    display: flex;
    border: 5px, solid, violet;
    text-align: right;
    height: 100px;
    width: 35%;
}

.manage-button {
    border: 3px solid black;
    width: 35%;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
}

.manage-count {
    border: 2px solid red;
    width: 30%;
    height: 100%;
}

/*FOOTER*/