.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    float: middle;
}

.right {
    float: right;
}

.left {
    float: center;
}

#topBar {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 32px;
    width: 100%
}
.top{
    float: top;
}

.headshot {
    position: absolute;
    width: 300px;
    border: 5px solid lavender;
    right: 200px;
}

.column {
    display: flex;
}

.purchase_col {
    background-color: grey;
    margin-left: 100px;
}