* {
    box-sizing: border-box;
    font-family: Arial;
}

/*HEADER*/
.topBar {
    height: 40px;
    width: auto;
    background-color: darkslategray;
    padding-left: 10px;
    display: flex;

}

.link {
    display: inline-block;
    font-size: 18px;
    margin-top: -6px;
}

.setting {
    display: inline-block;
    font-size: 18px;
}

.link a {
    color: rgb(101, 188, 14);
}

.link p {
    color: greenyellow;
    border-color: black;
    border-width: 1px;
}

.link a:hover {
    color: greenyellow;
}

/*BODY*/
body {
    background-color: darkgrey;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainGame {
    display: flex;
    border: 4px solid blue;
    flex: 1;
}

/*CLICKER*/

h1 {
    color: white;
}

.clicker {
    width: 55%;
    border: 4px, solid, white;
    padding: 20px;
    text-align: center;
    display: flex;

}

.clicker img {
    max-width: 35%;
    cursor: pointer;
}

.clicking-square {
    padding: 30px;
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/86/00/18/1000_F_286001899_BzwjxnzuSEBpFmqqyWGy35IMBUl1eKXf.jpg);
    border-radius: 30px;
}

/*UPGRADES*/

.upgrades {
    border: 4px, solid, white;
    text-align: center;
    height: 100%;
    width: 10%;
    flex: 1.5;
}

.upgrade-button {
    display: flex;
    border: 3px solid black;
    cursor: pointer;
    font-size: 30px;
    height: 10%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.upgrade-button :first-child {
    flex-wrap: wrap;
    height: 50%;
    width: 70%;
}

.upgrade-count {
    flex-wrap: wrap;
    height: 50%;
    width: 30%;
}

.upgrade-price {
    font-size: 15px;
    width: 60%;
    text-align: right;
    justify-content: right;
    border: 3px dotted green
}

#upgrade1price {
    justify-content: right;
    border: 3px dotted green;
}


/*UPGRADE TREE*/
.upgrade_tree {
    display: flex;
    align-items: 20%;
    justify-content: center;
    border: 3px solid salmon;
    background-color:darkcyan;
    flex: 2;
    height: 100%;
}

.upgrade_item {
    width: 30%;
    font-size: 30px;
    text-align: center;
    align-items: center;
    border: 4px dotted pink;
    height: 20%;

}


/*MANAGERS*/

.managers {
    border: 5px, solid, violet;
    text-align: center;
    height: 100%;
    width: 35%;
    flex: 2; 
}

.manage-button {
    display: flex;
    border: 3px solid black;
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
    width: 100%;
    height: 15%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.manage-button :first-child {
    flex-wrap: wrap;
    height: 50%;
    width: 70%;
}

.manage-count {
    flex-wrap: wrap;
    width: 30%;
    height: 50%;
}

.manage-price {
    font-size: 30px;
    width: 100%;
    border: 5px dotted red;
}

/*FOOTER*/

/*ABOUT*/

.head {
    position: absolute;
    width: 300px;
    border: 5px solid lavender;
    right: 200px;
}