/*HEADER*/
.topBar {
    height: 40px;
    width: 100%;
    background-color:darkslategray;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;

}

.link {
    display: inline-block;
    font-size: 18px;
    margin-top: -6px;
}

.setting {
    display: inline-block;
    font-size: 18px;
}

.link a {
    color:rgb(101, 188, 14);
}

.link p {
    color: greenyellow;
    border-color:black;
    border-width: 1px;
}

.link a:hover{
    color: greenyellow;
}

.head {
    position: absolute;
    width: 300px;
    border: 5px solid lavender;
    right: 200px;
}

/*BODY*/
body {
    background-image: url(https://as1.ftcdn.net/v2/jpg/02/86/00/18/1000_F_286001899_BzwjxnzuSEBpFmqqyWGy35IMBUl1eKXf.jpg);
}

/*CLICKER*/

h1 {
    color: white;
}
.clicker {
    width: 55%;
    border: 4px, solid, white;
    margin-top: 35px;
    padding: 20px;
    text-align: center;

}

.clicker img {
    max-width: 30%;
    cursor: pointer;
}

/*UPGRADES/MANAGERS*/


/*FOOTER*/